{% extends 'layout.html' %}

{% block body %}
<!-- Page Header -->
  <header class="masthead mb-0" style="background-image: url('{{ url_for('static',filename='img/home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{params['blog_name']}}</h1>
            <span class="subheading">{{params[tag_line]}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<!--Message flashing starts here-->
{% with messages = get_flashed_messages(with_categories=true) %} <!--leav blank if category os not required for aal flashing msgs-->

{% if messages %}

{% for cat,msg in messages %}
<div class="alert alert-{{cat}} alert-dismissible fade show mb-0" role="alert">
    {{msg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

{% endif %}

{% endwith %}

<!--Message flashing ends here-->

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <!--To do : to hadnle with for loop-->
    {% for post in posts %} 
  
        <a href="/post/{{post.slug}}"></a>

        <div class="post-preview">
          <a href="/post/{{post.slug}}">
            <h2 class="post-title">
                {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.tagline}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Posted by Arti</a>
            {{post.date}}</p>
        </div>
        {{post.content[0:200]}} . . .
        <hr>
    
    {%endfor%} 


        <!-- Pager -->
        <div class="clearfix">
           <!-- {% if number != 0 %}-->
        <a class="btn btn-primary float-left" href="{{prev}}">&larr; Prev Posts </a>
           <!-- {% endif %}-->
        <a class="btn btn-primary float-right" href="{{nextt}}">Next Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}